@model ShopAuto.Models.User


<div class="modal fade" id="exampleModalCenter-100-1-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header .bg-info">
                <h5 class="modal-title" id="exampleModalLongTitle">Đăng ký tài khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm())
            {
                
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group form-inline">
                            @Html.Label("Họ", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" ,placeholder = "Họ của bạn" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            @Html.Label("Tên", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" ,placeholder = "Tên của bạn" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group form-inline">
                            @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" ,type = "email" ,placeholder = "Email..", autocomplete = "new-email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            @Html.Label("Mật khẩu", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control",type= "password",placeholder="Mật khẩu", autocomplete = "new-password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div> 
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Đăng ký</button>
                    <div class="col-sm-1"></div>
                </div>
            }
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var meg="@ViewBag.dangKy";
        if (meg.length!=0) {
            alert(meg);
            meg = "";
            $("#FirstName").val("");
            $("#LastName").val("");
            $("#Email").val("");
            $("#Password").val("");
        }

      });

</script>
